.movie-li-card {
  border: 1px solid gainsboro;
  width: 180px;
  margin: 5px;
  flex-grow: 1;
  border-radius: 5px;
}

.movie-li-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-li-title {
  font-family: Roboto;
  font-size: 16px;
  margin: 5px;
}

.movie-li-rating {
  font-family: Roboto;
  font-size: 12px;
  margin: 5px;
}

.movie-li-view-details-btn-link {
  text-decoration: none;
}

.movie-li-view-details-btn {
  margin: 5px;
  height: 20px;
  border-radius: 3px;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-family: Roboto;
  background-image: linear-gradient(to right, #8fcea1, #03b3e3);
}
